//****************************************************************
//  app_client/components/images.pug                            //
//  Active Learning 2110                                        //
//                                                              //
//  Created by Jeremy Carter on 10/08/16.                       //
//  Copyright © 2016 Jeremy Carter. All rights reserved.        //
//                                                              //
//  Date        Name        Description                         //
//  -------     ---------   --------------                      //
//  08Oct16     J.Carter    Initial Design                      //
//                                                              //
//****************************************************************

//- Image mixins
mixin img-responsive(_src, _alt)
    img.img-responsive(src=_src, alt=_alt)

mixin img-responsive-center(_src, _alt)
    img.img-responsive.center-block(src=_src, alt=_alt)

mixin img-rounded(_src, _alt)
    img.img-rounded(src=_src, alt=_alt)

mixin img-circle(_src, _alt)
    img.img-circle(src=_src, alt=_alt)

mixin img-thumbnail(_src, _alt)
    img.img-thumbnail(src=_src, alt=_alt)

mixin img-circle(_src, _alt)
    img.img-circle(src=_src, alt=_alt)

mixin img-circle-left(_src, _alt)
    img.img-circle.pull-left(src=_src, alt=_alt)
